<% provide(:title, "Home") %>
<h2>HOME-PAGE</h2>
<div class="col-md-3">
<h2><%= link_to "Sign Up User", new_user_path %></h2>
</div>
<div class="col-md-6">

</div>
<div class="col-md-3">
<h2><%= link_to "Sign Up Manager", new_manager_path %></h2>
</div>
